<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.clarknikdelpowell.realtime_camera"
    version="0.2.0">
	
	<name>Realtime Camera</name>
	<description>Loosely based on CanvasCamera by daraosn</description>
	<keywords>camera,canvas,realtime,webcam</keywords>
	<license>MIT</license>
	<repo>https://github.com/Clark-Nikdel-Powell/realtime_camera.git</repo>

	<platform name="ios">
		<config-file target="config.xml" parent="/*">
                	<feature name="RealtimeCamera">
				<param name="ios-package" value="CDVRealtimeCamera"/>
				<param name="onload" value="true" />
           		</feature>
            	</config-file>

		<js-module src="www/realtime-camera.js" name="RealtimeCamera">
			<clobbers target="RealtimeCamera"/>
		</js-module>
		
		<framework src="CoreVideo.framework" />
		<framework src="AVFoundation.framework" />
		<framework src="JavaScriptCore.framework" />

		<source-file src="src/ios/CDVRealtimeCamera.m"/>
		<header-file src="src/ios/CDVRealtimeCamera.h"/>
	</platform>
</plugin>
